<div class="activities">
    <div class="activities__header">
      <h2>Recent Activities</h2>
    </div>
    {% for message in home_message %}
    <div class="activities__box">
      <div class="activities__boxHeader roomListRoom__header">
        <a href="{% url 'profile' message.user.id %}" class="roomListRoom__author">
          <div class="avatar avatar--small">
            <img src="{{message.user.avater.url}}" />
          </div>
          <p>
            {{message.user.username}}
            <span>{{message.create|timesince}} ago</span>
          </p>
        </a>
      </div>
      <div class="activities__boxContent">
        <p>replied to post “<a href="{% url 'room' message.room.id %}">{{message.room}}</a>”</p>
        <div class="activities__boxRoomContent">
          {{message.body}}
        </div>
      </div>
    </div>
    {% endfor %}
    
  </div>



{% comment %} <h3>Recent Activities</h3>
<hr>
{% for message in home_message %}
<p>{{message.user}} <small>{{message.create|timesince}}ago</small></p>
<h4>replied to post "{{message.room}}"</h4>
<p>{{message.body}}</p>
{% if request.user == message.user %}
<a href="{% url 'delete-message' message.id %}">Delete</a>
{% endif %}
<hr>
{% endfor %} {% endcomment %}